<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../../assets/css/actualizaciones.css">
</head>


<body>
  <div class="top-background"></div>
  <header class="header"><img src="../../assets/images/titulo.png" alt="Logo" class="logo-header"></header>
  <div class="barra-regreso">
    <button onclick="history.back()" class="boton-atras">
      <img src="../../assets/images/BTNATRAS.png" alt="Atrás" class="imagen-boton">
      <span class="texto-boton">Atrás</span>
    </button>
    <button onclick="history.back()" class="boton-home">
      <span class="texto-boton">ir al inicio&nbsp;&nbsp</span>
      <img src="../../assets/images/HOME.PNG" alt="Atrás" class="imagen-boton">
    </button>
  </div>
  <div class="app">
    <main class="container">

      <form class="formulario">
      <h2 class="subtitulo" style="font-size: 300%;"><br>Por favor descargue, imprima y diligencie el formato en el
        boton "Descargar"</h2>
      <a href='../../descargas/FOR_Dimensionamiento_ecopetro_ivr_visual 1.xls' download
        class="btn-secundario">Descargar</a>
      </form>

    </main>
  </div>
</body>

</html>