<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambio de cuenta bancaria</title>
  <link rel="stylesheet" href="../../assets/css/actualizaciones.css">
</head>

<body>
  <div class="top-background"></div>
  <header class="header"><img src="../../assets/images/titulo.png" alt="Logo" class="logo-header"></header>
  <div class="barra-regreso">
    <button onclick="history.back()" class="boton-atras">
      <img src="../../assets/images/BTNATRAS.png" alt="Atrás" class="imagen-boton">
      <span class="texto-boton">Atrás</span>
    </button>
    <button onclick="history.back()" class="boton-home">
      <span class="texto-boton">ir al inicio&nbsp;&nbsp</span>
      <img src="../../assets/images/HOME.PNG" alt="Atrás" class="imagen-boton">
    </button>
  </div>
  <div class="app">
    <main class="container">
      <h2 class="subtitulo" >Consulta a continuación el paso<br>a paso para realizar tu proceso
      </h2>
      <div class="titulo-container">CAMBIO DE CUENTA<br>BANCARIA</div>
      <div class="video-container"><iframe width="100%" height="250"
        src="https://www.youtube.com/embed/TmEL-tS3Miw?si=BPsvIk5j0J6iZMXu" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div><br>
      <button type="button" class="boton-encuesta" onclick="location.href='../encuesta/encuesta.html'">Encuesta</button>
    </main>
  </div>
</body>

</html>